---
import styles from "./styles.module.css";
---

<div class={styles.container}>
  <article class={styles.containerInner}>
    <h2 class={styles.title}>
      <div class={styles.titlePrefix} aria-hidden="true">//</div>
      Timeline
    </h2>
    <div class={styles.sectionContainer}>
      <section class={styles.section}>
        <h3 class={styles.sectionDate}>2022-11 -</h3>
        <ul class={styles.sectionList}>
          <li class={styles.sectionListItem}>
            Backend を Laravel にリプレイス
          </li>
          <li class={styles.sectionListItem}>
            Frontend を Next.js にリプレイス
          </li>
        </ul>
      </section>
      <section class={styles.section}>
        <h3 class={styles.sectionDate}>2019-12 - 2022-10</h3>
        <ul class={styles.sectionList}>
          <li class={styles.sectionListItem}>
            Backend を Yii Framework Web API にリプレイス
          </li>
          <li class={styles.sectionListItem}>Frontend を Nuxt にリプレイス</li>
        </ul>
      </section>
      <section class={styles.section}>
        <h3 class={styles.sectionDate}>2016-05 - 2019-11</h3>
        <ul class={styles.sectionList}>
          <li class={styles.sectionListItem}>
            Yii Framework, jQuery などを使用
          </li>
        </ul>
      </section>
      <section class={styles.section}>
        <h3 class={styles.sectionDate}>2016-05</h3>
        <ul class={styles.sectionList}>
          <li class={styles.sectionListItem}>
            リリース & コードを GitHub に公開
          </li>
        </ul>
      </section>
    </div>
  </article>
</div>
