---
import styles from "./styles.module.css";
---

<div class={styles.container}>
  <article class={styles.containerInner}>
    <h2 class={styles.title}>
      <div class={styles.titleDecoration} aria-hidden="true"></div>
      Timeline
    </h2>
    <ul class={styles.timeline}>
      <li class={styles.timelineList}>
        <div class={styles.timelineDate}>2022.10</div>
        <ul class={styles.timelineContent}>
          <li>Frontend を SvelteKit Beta から Astro にリプレイス</li>
        </ul>
      </li>
      <li class={styles.timelineList}>
        <div class={styles.timelineDate}>2022.09</div>
        <ul class={styles.timelineContent}>
          <li>Frontend に SvelteKit Beta を使用</li>
        </ul>
      </li>
      <li class={styles.timelineList}>
        <div class={styles.timelineDate}>2022.02</div>
        <ul class={styles.timelineContent}>
          <li>リリース & コードを GitHub に公開</li>
        </ul>
      </li>
    </ul>
  </article>
</div>
