---
import { IconArrowRight } from "@/icons/arrow-right";
import { IconCode } from "@/icons/code";
import styles from "./styles.module.css";
---

<div id="repositories" class={styles.container}>
  <article class={styles.containerInner}>
    <header class={styles.header}>
      <h2 class={styles.headerTitle}>
        <div class={styles.headerTitlePrefix} aria-hidden="true">//</div>
        Repositories
      </h2>
      <p class={styles.headerDescription}>
        書いたコードの一部は GitHub
        にて公開しています。アーカイブ化されていないすべてのリポジトリは、わたしがそこから離れていくまで、ずっと保守していきます。技術的な詳細については以下のリンクから見ることができます
      </p>
    </header>
    <div class={styles.separator} role="separator">
      <IconCode class={styles.separatorIcon} />
    </div>
    <article class={styles.main}>
      <section>
        <h3 class={styles.mainName}>
          <a href="/about/plusarchive/" class={styles.mainLink}
            >PlusArchive <IconArrowRight class={styles.mainLinkIcon} /></a
          >
        </h3>
        <p class={styles.mainDescription}>
          インターネット上にアップロードされているプロモーション用の音楽を集めたサイト。世界中の音楽に耳を澄まし、それを記録していく
        </p>
      </section>
      <section>
        <h3 class={styles.mainName}>
          <a href="/about/tapes/" class={styles.mainLink}
            >tapes <IconArrowRight class={styles.mainLinkIcon} /></a
          >
        </h3>
        <p class={styles.mainDescription}>
          月一でよく聴いている音楽を、特定のアーティストやジャンルに絞って数曲ずつ公開しているサイト。その月に聴いた音楽、その年に聴いた音楽を記録する
        </p>
      </section>
      <section>
        <h3 class={styles.mainName}>
          <a href="/about/blog/" class={styles.mainLink}
            >blog <IconArrowRight class={styles.mainLinkIcon} /></a
          >
        </h3>
        <p class={styles.mainDescription}>
          技術的な記事をまとめたブログサイト。わたし個人のアウトプットの場であり、ドキュメントでもある。記事は書き捨てではなく、コードと同じようにできる限り更新していく
        </p>
      </section>
      <section>
        <h3 class={styles.mainName}>
          <a href="/about/denene/" class={styles.mainLink}
            >denene <IconArrowRight class={styles.mainLinkIcon} /></a
          >
        </h3>
        <p class={styles.mainDescription}>
          「控えめな Web」をテーマに、HTML と CSS、そしてほんの少しの JavaScript
          で何ができるかを確認する個人的な Web サイト。Web
          におけるセマンティクスやアクセシビリティの実験の場でもある
        </p>
      </section>
    </article>
  </article>
</div>
