---
import styles from "./styles.module.css";
---

<div class={styles.container}>
  <article class={styles.containerInner}>
    <h2 class={styles.title}>
      <div class={styles.titlePrefix} aria-hidden="true">//</div>
      Timeline
    </h2>
    <ul class={styles.timeline}>
      <li class={styles.timelineList}>
        <div class={styles.timelineDate}>2022.12</div>
        <ul class={styles.timelineContent}>
          <li>Frontend を SvelteKit の安定版にアップデート</li>
        </ul>
      </li>
      <li class={styles.timelineList}>
        <div class={styles.timelineDate}>2022.11</div>
        <ul class={styles.timelineContent}>
          <li>Frontend に SvelteKit Beta を使用</li>
        </ul>
      </li>
      <li class={styles.timelineList}>
        <div class={styles.timelineDate}>2021.08</div>
        <ul class={styles.timelineContent}>
          <li>リリース & コードを GitHub に公開</li>
        </ul>
      </li>
    </ul>
  </article>
</div>
