---
import { IconArrowLeft } from "@/icons/arrow-left";
import { IconCode } from "@/icons/code";
import styles from "./styles.module.css";
---

<div class={styles.container}>
  <h1 class={styles.title}>Not Found</h1>
  <p class={styles.description}>
    このページはすでに削除されているか、もしくはページが存在しません
  </p>
  <IconCode class={styles.separator} />
  <a class={styles.link} href="/about/"
    ><IconArrowLeft class={styles.linkIcon} />トップページに戻る</a
  >
</div>
