---
import { Image } from "astro:assets";
import imageFirstViewScreenshotSm from "../../assets/first-view-screenshot-sm.webp";
import imageFirstViewScreenshot from "../../assets/first-view-screenshot.webp";
import styles from "./styles.module.css";
---

<div class={styles.container}>
  <article class={styles.containerInner}>
    <section class={styles.main}>
      <h1 class={styles.mainTitle}>PlusArchive</h1>
      <p class={styles.mainDescription}>
        世界中の音楽に耳を澄まし、それを記録していく
      </p>
      <a
        href="https://plusarchive.com"
        class={styles.mainLink}
        target="_blank"
        rel="noreferrer">Go to PlusArchive</a
      >
    </section>
    <div class={styles.screenshotContainer}>
      <Image
        src={imageFirstViewScreenshotSm}
        class={styles.screenshotSm}
        alt="screenshot for mobile phone"
      />
      <Image
        src={imageFirstViewScreenshot}
        class={styles.screenshot}
        alt="screenshot for pc"
      />
    </div>
  </article>
</div>
