---
import { IconCode } from "@/icons/code";
import { IconGitHub } from "@/icons/github";
import styles from "./styles.module.css";
---

<div class={styles.container}>
  <article class={styles.containerInner}>
    <section class={styles.header}>
      <h2 class={styles.headerTitle}>
        <div class={styles.headerTitleDecoration} aria-hidden="true"></div>
        Technology<br class={styles.headerTitleNewLine} aria-hidden="true" />
        Stack
      </h2>
      <p class={styles.headerDescription}>
        denene
        の技術スタックを紹介します。以下のリストは現在のものであって、時間とともに変化していく可能性があります
      </p>
    </section>
    <div class={styles.separator} role="separator">
      <IconCode class={styles.separatorIcon} />
    </div>
    <article class={styles.main}>
      <section>
        <h3 class={styles.mainTitle}>Frontend</h3>
        <ul class={styles.mainTagList}>
          <li class={styles.mainTagListItem}>TypeScript</li>
          <li class={styles.mainTagListItem}>Astro</li>
          <li class={styles.mainTagListItem}>Prettier</li>
          <li class={styles.mainTagListItem}>CSS Modules</li>
          <li class={styles.mainTagListItem}>Stylelint</li>
        </ul>
      </section>
      <section>
        <h3 class={styles.mainTitle}>Others</h3>
        <ul class={styles.mainTagList}>
          <li class={styles.mainTagListItem}>GitHub Actions</li>
          <li class={styles.mainTagListItem}>GitHub Pages</li>
        </ul>
      </section>
    </article>
    <section class={styles.footer}>
      <p class={styles.footerDescription}>
        denene のコードはオープンソースとして GitHub
        で管理しています。より詳しい内容については以下のリンクから見ることができます
      </p>
      <a
        href="https://github.com/jamband/denene"
        class={styles.footerLink}
        target="_blank"
        rel="noreferrer"><IconGitHub class={styles.footerLinkIcon} />Frontend</a
      >
    </section>
  </article>
</div>
